<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="stylesheets/stars.css" />
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moisture"
  viewBox="0 0 16 16">
  <path
    d="M13.5 0a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V7.5h-1.5a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V15h-1.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5h-2zM7 1.5l.364-.343a.5.5 0 0 0-.728 0l-.002.002-.006.007-.022.023-.08.088a28.458 28.458 0 0 0-1.274 1.517c-.769.983-1.714 2.325-2.385 3.727C2.368 7.564 2 8.682 2 9.733 2 12.614 4.212 15 7 15s5-2.386 5-5.267c0-1.05-.368-2.169-.867-3.212-.671-1.402-1.616-2.744-2.385-3.727a28.458 28.458 0 0 0-1.354-1.605l-.022-.023-.006-.007-.002-.001L7 1.5zm0 0-.364-.343L7 1.5zm-.016.766L7 2.247l.016.019c.24.274.572.667.944 1.144.611.781 1.32 1.776 1.901 2.827H4.14c.58-1.051 1.29-2.046 1.9-2.827.373-.477.706-.87.945-1.144zM3 9.733c0-.755.244-1.612.638-2.496h6.724c.395.884.638 1.741.638 2.496C11 12.117 9.182 14 7 14s-4-1.883-4-4.267z" />
</svg>
<div class="row justify-content-around">
  <div class="col-lg-6 col-md-10">
    <div
      id="campgroundCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">

        <% if(campground.images.length===0) {%>
          <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1615549158346-a598ad0184ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGVtcHR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
          <% } else{%>
        <% campground.images.forEach((img,index)=>{ %>
          <div class="carousel-item <%= index===0 ? "active":"" %> ">
            <img src="<%=img.url%>" class="rounded" alt="img" /> 
            </div>
            <% })}%>

      </div>
<% if(campground.images.length > 1){ %> 
  <button
  class="carousel-control-prev"
  type="button"
  data-bs-target="#campgroundCarousel"
  data-bs-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next"
  type="button"
  data-bs-target="#campgroundCarousel"
  data-bs-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
  <% } %> 
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title text-uppercase"><%=campground.title%></h5>
        <p class="card-text"><%=campground.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=campground.location%></li>
        <li class="list-group-item text-muted">
          Submitted by <%=campground.author.username%>
        </li>
        <li class="list-group-item">Rs. <%=campground.price%>/visit</li>
      </ul>
      <% if(currentUser && currentUser._id.equals(campground.author._id) ) {%>
      <div class="card-body">
        <a
          class="card-link btn btn-info"
          href="/campgrounds/<%=campground._id%>/edit"
          >Edit</a>

        <form class="d-inline"
          action="/campgrounds/<%=campground._id%>?_method=DELETE"
          method="POST">
          <button class="btn btn-danger">delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted"><%= campground.time%></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-10">
    
<div id='map'></div>

<div class="weather_box">
  <div class="row">
    <div class="col-sm">
      <h4>
        <%= campground.location %>
      </h1>
      <% if (weather) { %>
        <div class="weather-info">
          <div class="weather-description">
            <img src="<%= weather.icon %>" >
          
              <%= weather.description %>
            
          </div>
          <div class="weather-details">
            <p><i class="fas fa-thermometer-half"></i> Temperature: <%= weather.temperature %>°C</p>
            <p><i class="fas fa-temperature-low"></i> Feels like: <%= weather.feelsLike %>°C</p>
            <p><i class="fas fa-tint"></i> Humidity: <%= weather.humidity %>%</p>
            <p><i class="fas fa-wind"></i> Wind speed: <%= weather.windSpeed %> m/s</p>
          </div>
          
        

        </div>
        <% } else { %>
          <p class="weather-description">No weather information available</p>
          <% } %>
    </div>
  </div>
</div>



  <% if(currentUser && !isCommented){ %>
    <h2>Leave a Review</h2>
    <form
      action="/campgrounds/<%=campground._id%>/reviews"
      method="POST"
      class="mb-3 validated-form"
      novalidate
    >
      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <fieldset class="starability-basic">
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
              checked
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

  
        </div>
        <label class="form-label" for="body">Review</label>
        <textarea
          class="form-control"
          name="review[body]"
          id=""
          cols="30"
          rows="3"
          required
        ></textarea>
        <div class="valid-feedback">looks good!</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>     
     <% for(review of campground.reviews){ %>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-subtitle mb-2 text-muted">
          By <%= review.author.username %>
        </h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>

        <p class="card-text">Review: <%= review.body %></p>
        <% if( currentUser && review.author.equals(currentUser._id)){ %>
        <form
          action="/campgrounds/<%=campground._id%>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
          <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editReview">
            Edit
          </button>
        </form>


        <div class="modal fade" id="editReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editReviewLabel">Edit Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form
                  action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=PUT"
                  method="POST"
                  class="mb-3 validated-form"
                  novalidate
                >
                  <div class="mb-3">
                    <div class="mb-3">
                      <label class="form-label" for="rating">Rating</label>
                      <fieldset class="starability-basic">
                        <input
                          type="radio"
                          id="first-rate1"
                          name="review[rating]"
                          value="1"
                        />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input
                          type="radio"
                          id="first-rate2"
                          name="review[rating]"
                          value="2"
                        />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input
                          type="radio"
                          id="first-rate3"
                          name="review[rating]"
                          value="3"
                          checked
                        />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input
                          type="radio"
                          id="first-rate4"
                          name="review[rating]"
                          value="4"
                        />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input
                          type="radio"
                          id="first-rate5"
                          name="review[rating]"
                          value="5"
                        />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
            
              
                    </div>
                    <label class="form-label" for="body">Review</label>
                    <textarea
                      class="form-control"
                      name="review[body]"
                      id=""
                      cols="30"
                      rows="3"
                     
                      required
                    ><%=review.body%></textarea>
                    <div class="valid-feedback">looks good!</div>
                  </div>
                  <button class="btn btn-success">Edit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
    
  </div>
  


</div>


</div>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
  integrity="sha384-+M9aO30NDGx2C0jORn+ydSz8wvCwHiLZJiBkOQGQ9llvR+0pbhj5qdAZam5q5rHw" crossorigin="anonymous"></script>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN  %>';
  const campground = <%- JSON.stringify(campground)%>;
</script>
  <!-- Add the following script tags to your HTML file -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="/javascripts/showPageMap.js">
    
</script>



